body {
    background-color: rgb(252, 245, 245);
    background-image: url(images/1711871254790.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position-y: 100px;
    background-position-x: -75px;
}

.nav {
    
    background-color: rgb(252, 245, 245);
    
    
    padding-left: 20px;
    padding-right: 30px;
    display: flex;
    justify-content: space-between;
   
   
    
}

.rightcontent {
    display: flex;
    justify-content: space-between;

    


}

.rightcontent img {
    position: relative;
    left: 3px;
    top: 3px;
}

.menu {
    position: relative;
    top: 9px;
    right: -30px;
    border: 3px solid rgba(0, 0, 0, 0.072);
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.377);
    width: 45px;
    height: 40px;
    display: flex;
    
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.menu:hover{
   background-color: rgba(135, 129, 129, 0.062);
}


#menubar {
    display: none;

}


.bar {
    position: relative;
     top: 1px;
    font-size: 30px;
    color: rgba(0, 0, 0, 0.25);
    cursor: pointer;
    
}
.bar:hover{
    color:rgba(0, 0, 0, 0.438);
}
.statusboxes{
    height: 33px;
    
    display: flex;
    justify-content: space-between;
    
    
}
.pnr{
    
    width: 264px;
    background-color: rgb(30, 57, 112);
    text-align: center;
    padding-top: 5px;
    
}
.pnr a{
    color: azure;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: bold;

}
.charts{
    
    width: 264px;
    background-color: rgb(30, 57, 112);
    text-align: center;
    padding-top: 5px;
}
.charts a{
    color: azure;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: bold;
}
.loginbox{
    
    height: 430px;
    background-color: white;
}
.loginbox header{
    
    height: 75px;
    display: flex;
    justify-content: space-between;
    

}

.title h1{
    color: rgb(30, 57, 112);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 29px;
    

}
.textinput{
    
    height: 220px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-left: 25px;
    
    
}
.from{
    height: 40px;
    width: 275px;
    border-radius: 3px;
    
    border: 1px solid rgba(0, 0, 0, 0.551);
    margin-top: 16px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 9px;
    color: rgb(30, 57, 112);
    font-family: Arial, Helvetica, sans-serif;
}

.from input{
    border: none;
    color: rgb(2, 40, 117);
    font-family: Arial, Helvetica, sans-serif;
    height: 30px;
    width: 250px;
      
}
.viceversa{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 280px;
    height:30px;
    margin-top: 3px;
    margin-bottom: 3px;
    
}
.viceversa i{
    color: rgb(0, 45, 133);
}

.to{
    height: 40px;
    width: 275px;
    border-radius: 3px;
    
    border: 1px solid rgba(0, 0, 0, 0.551);
    display: flex;
    justify-content: flex-start;
    align-items: center;

    padding-left: 9px;
    color: rgb(30, 57, 112);
    font-family: Arial, Helvetica, sans-serif;
    
}
.to input{
    border: none;
    color: rgb(30, 57, 112);
    font-family: Arial, Helvetica, sans-serif;
    height: 30px;
    width: 250px;
}
.traveldate input{
    height: 40px;
    width: 175px;
    border-radius: 3px;
    
    border: 1px solid rgba(0, 0, 0, 0.551);
    color: rgb(30, 57, 112);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    

    
    
    
}
.traveldate label{
    color: rgb(30, 57, 112);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    
    
    
}
.general select{
    height: 40px;
    width: 287px;
    border-radius: 3px;
    
    border: 1px solid rgba(0, 0, 0, 0.551);
    margin-top: 25px;
    color: rgb(0, 42, 125) ;
    
    font-size: 16px;
    text-align: center;
    
}
.seat select{
    height: 40px;
    width: 180px;
    border-radius: 3px;
    color: rgb(0, 42, 125) ;
    border: 1px solid rgba(0, 0, 0, 0.551);
    margin-top: 34px;
    font-size: 17px;
    text-align: center;
}

.linkbox{
    
    height: 55px;
    margin-top: 4px;
}
section{
    
    position: absolute;
    top: 149px;
    left: 83px;
    width: 540px;
}

.terms{
    
    height: 60px;
    display: flex;
    flex-wrap: wrap;
    padding-left: 25px;

    flex-direction: column;
    justify-content: space-around;
    padding-right: 60px;
    color:rgb(30, 57, 112); 
    font-family: 'Times New Roman', Times, serif;
    font-weight: 600;
    font-size: 14px;
    
    
    
    

}
.terms input{
    height: 17px;
    width: 17px;
}

.buttons{
    
    height: 69px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.search:hover{
    background-color: rgba(245, 140, 53, 0.918);
}
.search{
    height: 33px;
    width: 100px;
    background-color: rgb(255, 95, 37);
    border: 0px;
    border-radius: 5px;
    color: azure;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}
.disha{
    height: 33px;
    width: 250px ;
    background-color: rgb(31, 172, 10);
    border: 0px;
    border-radius: 5px;
    color: azure;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    
}
.disha:hover{
    background-color: rgb(111, 184, 0);
}
.disha a{
    text-decoration: none;
    color: azure;
}
.linkbox{
    background-color: white;
    padding-top: 3px;
}
.linkbox a{
    text-decoration: none;
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 14px;
    color: rgb(13, 133, 188);


}
