* {
    margin: 0px;
    padding: 0px;
}

.navbar {
   
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.099);
    height: 70px;
    width: 100vw;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    padding-top: 0px;
    background-color: white;
    position: fixed;
    top: 0px;
    z-index: 2;
    
    
}

.navlogo {
    height: 70px;
    
    grid-row: 1/2;
    grid-column: 1/2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navlogo i{
    display: none;

}
.navlogo i:hover{
     background-color: rgba(0, 0, 0, 0.144);
     width: 25px;
     height: 25px;
     display: flex;
     justify-content: center;
     align-items: center;
     border-radius: 3px;
}

.navmiddle {
    height: 70px;
    
    grid-row: 1/2;
    grid-column: 2/5;
    margin-left: -40px;
}

.mainlist {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 25px;
    padding-left: 0px;
    list-style-type: none;
    transition: 1s;
}
.mainlist li:hover{
    i{
        transform: rotateZ(180deg);

    }
  
}
.mainlist i{
    transition: 0.5s;
}

.sublist:hover {
    background-color: rgba(98, 97, 96, 0.171);
    

    border-radius: 3px;

    cursor: pointer;

    .container1 {
        display: block;

    }
    .container2 {
        display: block;

    }
    .container3 {
        display: block;

    }
    .container4{
        display: block;
    }
    .container5{
        display: block;
    }
    .mianlist i{
        transform: rotate(180deg);
    }
   


}

#one {
    height: 30px;
    width: 143px;
    padding-left: 4px;
    padding-top: 2px;
}

#two {
    height: 30px;
    width: 86px;
    padding-left: 4px;
    padding-top: 2px;
}

#three {
    height: 30px;
    width: 96px;
    padding-left: 4px;
    padding-top: 2px;
}

#four {
    height: 30px;
    width: 147px;
    padding-left: 4px;
    padding-top: 2px;
}

#five {
    height: 30px;
    width: 65px;
    padding-left: 4px;
    padding-top: 2px;
}

.box1 {
    position: absolute;
    height: 400px;
    width: 750px;
     z-index: 1;
    background-color: white;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.38);
    border-radius: 4px;
    margin-top: 10px;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;

}

.container1 {
    display: none;


}

.box1 h6:hover {
    background-color: rgba(98, 97, 96, 0.14);

    border-radius: 3px;
    
   

}
.box1 h6{
    height: 35px;
    padding-top: 2px;
    padding-left: 3px;
}
.box1 li{
    padding-left: 3px;
    width: 90%;
    height: 35px;
}

.box1 li:hover {
    background-color: rgba(98, 97, 96, 0.14);
    
    border-radius: 3px;
    
    

}

.visualdoc {
    padding-left: 12px;
    padding-top: 20px;
    line-height: 40px;

    grid-row: 1/2;
    grid-column: 1/2;
}

.pandv {
    padding-left: 12px;
    padding-top: 20px;
    line-height: 40px;

    grid-row: 1/2;
    grid-column: 2/3;
}

.print {
    padding-left: 12px;
    padding-top: 20px;
    line-height: 40px;

    grid-row: 1/2;
    grid-column: 3/4;
}

.marketing {
    padding-left: 12px;
    padding-top: 20px;
    line-height: 40px;

    grid-row: 1/2;
    grid-column: 4/5;
}
.box2{
    position: absolute;
    left: 228px;
    height: 400px;
    width: 900px;
    z-index: 1;
    background-color: white;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.38);
    border-radius: 4px;
    margin-top: 10px;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
.tiles{
    grid-row: 1/2;
    grid-column: 1/3;
}
.lists{
    grid-row: 1/2;
    grid-column: 3/6;
}
.box22{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    border-left: 1px solid rgba(0, 0, 0, 0.277);
    height: 100%;
}
.box22 h6:hover {
    background-color: rgba(98, 97, 96, 0.14);

    border-radius: 3px;
    
   

}
.box22 h6{
    height: 35px;
    padding-top: 2px;
    padding-left: 3px;
}
.box22 li{
    padding-left: 3px;
    width: 90%;
    height: 35px;
}

.box22 li:hover {
    background-color: rgba(98, 97, 96, 0.14);
    
    border-radius: 3px;
    
    

}
.box21{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr;
    padding-top: 25px;
}
.box21 img{
    height: 65px;
    margin-right: 10px;
    padding-top: 4px;
    
   
}
.t1{display: flex;
    padding-left: 5px;
    padding-top: 10px;
    width: 90%;
    margin-top: 3px;
    margin-left: 20px;
}
.t1:hover{
    background-color: rgba(98, 97, 96, 0.14);
    border-radius: 4px;
    
}
.container2{
    display: none;
}
.box3{
    position: absolute;
    left: 228px;
    height: 400px;
    width: 1000px;
    z-index: 1;
    background-color: white;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.38);
    border-radius: 4px;
    margin-top: 10px;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    z-index: 1;

}
.tiles2{
    grid-row: 1/2;
    grid-column: 1/5;
}
.photo{
    grid-row: 1/2;
    grid-column: 5/7;
}

.box31{
    height: 400px;
   
   display: flex;
   flex-direction: column;
   flex-wrap: wrap;
    padding-top: 25px;
}
.box31 img{
    height: 65px;
    margin-right: 10px;
    padding-top: 4px;
    
   
}
.t2{display: flex;
    padding-left: 5px;
    padding-top: 10px;
    width: 40%;
    margin-top: 3px;
    margin-left: 20px;
}
.t2:hover{
    background-color: rgba(98, 97, 96, 0.14);
    border-radius: 4px;
    
}
.box321{
    width: 100%;
    height: 145px;
    margin-right: 10px;
    padding-top: 4px;
    overflow: hidden;
    margin-bottom: 8px;
    border-radius: 5px;
}
.box32 img{
    height: 100%;
    width: 100%;
   
    transition: all 0.3s;
    
    
   
}
.box32 img:hover{
    transform: scale(1.15);


}
.box32{
    height: 400px;
    margin-right: 25px;
    margin-left: -30px;
    border-left:1px solid rgba(0, 0, 0, 0.199) ;
    padding-left: 25px;
    padding-top: 50px;
}

.t3 h6:hover{
    text-decoration: underline;}
.container3{
    display: none;
}  
.box4{
    position: absolute;
    left: 228px;
    height: 400px;
    width: 1000px;
    z-index: 1;
    background-color: white;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.38);
    border-radius: 4px;
    margin-top: 10px;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr; 
}  
.p2{
    grid-row: 1/2;
    grid-column: 1/3;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    border-right: 1px solid rgba(0, 0, 0, 0.195);
    height: 400px;
}
.box41{
    
    grid-row: 1/2;
    grid-column: 1/2;
    height: 400px;
       
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 25px;
    padding-left: 30px;
    padding-right: 30px;
      
     
}
.box411{
    width: 100%;
    height: 190px;
    margin-right: 10px;
    padding-top: 4px;
    overflow: hidden;
    
    border-radius: 5px;
}
.box41 img{
    height: 100%;
    width: 100%;
   
    transition: all 0.3s;
    
    
   
}
.box41 img:hover{
    transform: scale(1.15);


}
.box42{
    
    grid-row: 1/2;
    grid-column: 2/3;
    height: 400px;
       
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 25px;
    padding-left: 30px;
    padding-right: 30px;
      
     
}
.box421{
    width: 100%;
    height: 190px;
    margin-right: 10px;
    padding-top: 4px;
    overflow: hidden;
    
    border-radius: 5px;
}
.box42 img{
    height: 100%;
    width: 100%;
   
    transition: all 0.3s;
    
    
   
}
.box42 img:hover{
    transform: scale(1.15);


}
.container4{
    display: none;
}
.tiles4{
    
   grid-row: 1/2;
   grid-column: 3/4;
   
}
#silde5{
    height: 400px;
    
    padding: 5px;
}
.box5{
    position: absolute;
    left: 228px;
    height: 400px;
    width: 1000px;
    z-index: 1;
    background-color: white;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.38);
    border-radius: 4px;
    margin-top: 10px;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr ; 
}
.liti{
    grid-row: 1/2;
    grid-column: 1/2;
}
.tiles6{
    grid-row: 1/2;
    grid-column: 2/6;
}
#t21{
    width: 300px;
    border-right: 1px solid rgba(0, 0, 0, 0.195);
    padding-top: 25px;
    display: flex;
    flex-direction: row;
    height: 400px;
}
#t21:hover{
    background-color: white;
    h6{
        text-decoration: underline;
    }
}
.box51 img{
    height: 80px;
    width: 80px;
    margin-right: 10px;
    
}
#t22{
    
    padding-top: 5px;
    padding: 20px;
}

#panind{
    padding-top: 0px;
    line-height: 35px;
}
.container5{
    display: none;
}

.navend {
    height: 70px;
    
    grid-row: 1/2;
    grid-column: 5/7;
    display: flex;
    justify-content: flex-end;
    padding-right: 40px;
    padding-top: 15px;

}

#login {
    height: 42px;
    width: 75px;
    font-weight: 600;
    font-size: 14px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgba(0, 0, 0, 0.747);
    background-color: rgba(177, 185, 187, 0.37);
    border: none;
    border-radius: 3px;
}

#login:hover {
    background-color: rgba(177, 185, 187, 0.89);
    cursor: pointer;
}

#signup {
    height: 42px;
    width: 85px;
    margin-left: 12px;
    font-weight: 600;
    font-size: 14px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    background-color: rgba(112, 44, 238, 0.925);
    border: none;
    border-radius: 3px;

}

#signup:hover {
    background-color: rgba(87, 53, 150, 0.966);
    cursor: pointer;
}

@media only screen and (max-width:650px) {
    .navlogo {
        grid-row: 1/2;
        grid-column: 1/3;
    }

    .navmiddle {

        grid-row: 1/3;
        grid-column: 3/5;
    }

    .navend {
        grid-row: 1/2;
        grid-column: 5/7;
    }
    .mainlist{
        display: none;
    }
    .navlogo img{
        margin-left: 20px;
        
    }
    .navlogo i{
        display: inline-block;
        
    }
    .cardscarousel1{
        margin-right: 40px;
    }

}
.banner{
    border-radius: 5px;
    height: 350px;
    margin-top: 93px;
    margin-left: 25px;
    margin-right: 25px;
    background-image: url(Images/2148169529.jpg);
    background-size: cover;
    background-position-y: bottom;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-right: 6px;
    
    
    
}
.banner h1{
    margin-top: -20px;
    font-size: 50px;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;    color: rgb(251, 251, 251);
font-weight: 600;

}
.banner input{
    margin-top: 20px;
    width: 550px;
    height: 45px;
    margin-left: -10px;
    padding-left: 5px;
    

}
.banner p{
    margin: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;    color: rgb(251, 251, 251);
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
    font-weight: 400;
}
.banner i{
    position: relative;
    left: 25px;
    top:0px;
    
    
}
.cardscarousel1{
    
    margin-left: 40px;
    
}
.cards-wrapper{
    display: flex;
    
    
}
.s1{
    margin-top: 30px;
    margin-left: 50px;
    
}
.s1 h1{
    font-size: 25px;
}
.card{
    margin: 0.7rem;
    flex-shrink: 0;
    height: 200px;
    
    overflow: hidden;
    border: none;
   
}
.card img{
    height: 80%;
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.116);
    border-radius: 3px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.065);
}
.cardscarousel2{
    
    margin-left: 40px;
    margin-right: 40px;
}
.cardscarousel2 .card{
    margin: 0.7rem;
    flex-shrink: 0;
    height: 300px;
    
    overflow: hidden;
    border: none;
   
}
.card img{
    height: 80%;
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.116);
    border-radius: 3px;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.065);
}
.cardscarousel3{
    
    margin-left: 40px;
    margin-right: 40px;
}
.cardscarousel3 .card{
    margin: 0.7rem;
    flex-shrink: 0;
    height: 350px;
    
    overflow: hidden;
    border: none;
   
}
.cardscarousel4{
    
    margin-left: 40px;
    margin-right: 40px;
}
.cardscarousel4 .card{
    margin: 0.7rem;
    flex-shrink: 0;
    height: 350px;
    
    overflow: hidden;
    border: none;
   
}
#foot{
    width: 100vw;
    margin-top: 30px;
    padding-left: 50px;
    padding-right: 20px;
    padding-top: 30px;
    border-top: 1px solid rgba(0, 0, 0, 0.192);
    border-radius: 0px;
    position: relative;
}
#foot li{
    list-style-type: none;
}
footer{
    position: relative;
    z-index: -1;
}
footer i{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
.carousel-control-prev{
   
    background-color: #e1e1e1;
    width: 6vh;
    height: 6vh;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-55%);
    
    
}
.carousel-control-next{
    background-color: #e1e1e1;
    width: 6vh;
    height: 6vh;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-45%);
    right: 1vw;
}
.carousel-control-next:hover{
    background-color: #ffffffda;
    border: 1px solid rgba(0, 0, 0, 0.223);
}
.carousel-control-prev:hover{
    background-color: #ffffffda;
    border: 1px solid rgba(0, 0, 0, 0.25);
}
#nextone{
    background-color: #e1e1e191;
    width: 6vh;
    height: 6vh;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-60%);
    right: 4%;
}
#nextone:hover{
    background-color: #ffffffda;
}
#nextfour{
    background-color: #e1e1e191;
    width: 6vh;
    height: 6vh;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-45%);
    right: -1%;
}
#nextfour:hover{
    background-color: #ffffffda;
}


