
body{
    background-image: url(images/Netflix_Logo_Print_OneColorPMS.webp) ;
    
    background-size: contain;
    background-repeat: no-repeat;
    background-position-y: center;
    backface-visibility: hidden;
    
    
    background-color: rgb(48, 46, 46);
    
    
}


.maincontainer{
    margin: -9px;
    background-color: rgba(15, 10, 10, 0.798);
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;

}
.signupform{
            min-height: 450px ;
            max-height: 600px;
            width: 400px;
            background-color: rgba(177, 171, 171, 0.932);
            border-radius: 8px;
            box-shadow: rgba(0, 0, 0, 0.027) 2px 2px 10px 5px;
}

.title{
    
    line-height: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-left: 15px;
    padding-top: 1px;
    border-bottom: 1px solid hsla(258, 6%, 42%, 0.394);
}
.title h1{
    word-spacing: -3px;
}

.title p{
    font-size: 14px;
    opacity: 0.7;
}
.name{
    margin-top: 14px;
    display: flex;
    justify-content: space-evenly;
}

.name input{
    height: 30px;
    width: 173px;
    border-radius: 5px;
    opacity: 0.6;
    border: 1px solid;
}
.textboxes{
    margin-top: 10px;
    margin-bottom: 14px;
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;


}
.textboxes input{
    height: 30px;
    width: 367px;
    border-radius: 5px;
    opacity: 0.6;
    border: 1px solid;

}

.passw{
    margin-top: 10px;
}
.label1{
    margin-top: -3px;
    margin-bottom: 3px;
}
.label1 label{
    margin-left: 13px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 13px;
    font-weight: 500;
    opacity: 0.7;

    
}
.birthday{
    padding-left: 7px;
    padding-right: 7px;
    display: flex;
    justify-content: space-around;
}
.birthday select{
    height: 35px;
    width: 117px;
    border-radius: 5px;
    opacity: 1;
    font-weight: 600;
}
.gender{
    padding-left: 7px;
    padding-right: 7px;
    display: flex;
    justify-content: space-around;
}
.female, .male, .others{
    height: 30px;
    width: 110px;
    border: 1px solid black;
    opacity: 0.9;
    border-radius: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;
    font-size: 15px;
    padding-top: 6px;
    padding-left: 6px;

}

.label2{
    margin-top: 5px;
    margin-bottom: 3px;
}
.label2 label{
    margin-left: 13px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 13px;
    font-weight: 500;
    opacity: 0.7;

}

.tandc p{
    margin-top: 10px;
    margin-left: 13px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 11px;
    opacity: 0.7;

}

.button{
    margin-top: 25px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
}
.button button{
    color: azure;
    background-color: rgb(11, 166, 11);
    border: 0px solid ;
    border-radius: 5px;
    width: 175px;
    height: 35px;
    font-size: 18px;
    font-weight: 700;



}